body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.react-tel-input .form-control {
	background-color: #f8f9fb !important;
}

.react-tel-input .form-control:hover {
	border: 1px solid #000;
}

.react-tel-input .country-list .country-name {
	font-size: 1.2rem;
}
.react-tel-input .country-list .country .dial-code {
	font-size: 1.2rem;
}

@media (max-width: 620px) {
	.react-tel-input .form-control {
		width: 20rem !important;
	}
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
	background-color: #f8f9fb !important;
	outline-color: #f8f9fb !important;
}
